<configuration debug="false" scan="true" packagingData="false">

   <!-- Keep viz packagagingData set to false so logback does not attempt 
        to determine jars from classes in the stacktrace.  In some scenarios
        the determination of the packaging data can spend an inordinate
        amount of time in the OSGi classloader trying to find classes. -->

   <!-- Only define when not wanting to use the UF Standard.
   <property scope="context" name="log.message.pattern" value="%-5p %d [%t] %c{0}: %m%n"/>
   -->      
   
   <!-- TODO this is just a copy of logback-viz-core.xml but with
         sending to alertview instead of alertviz. Ideally we ought
         to be able to reuse the commonality or conditionally
         select which appender to use. -->
         
   <property scope="system" name="alertview.enabled" value="true" />
   
   <timestamp key="startTime" datePattern="yyyyMMdd_HHmmss" />            
   
   <define name="caveLogFile" class="com.raytheon.uf.common.logback.LogFilePropertyDefiner" >
      <directory>${user.home}/${LOGDIR}</directory>
      <name>cave_${startTime}_pid_%PID%_logs.log</name>
   </define>

   <define name="consoleLogFile" class="com.raytheon.uf.common.logback.LogFilePropertyDefiner" >
       <directory>${user.home}/${LOGDIR}</directory>
       <name>cave_${startTime}_pid_%PID%_console.log</name>
   </define>

   <define name="producteditorLogFile" class="com.raytheon.uf.common.logback.LogFilePropertyDefiner" >
       <directory>${user.home}/${LOGDIR}</directory>
       <name>cave_${startTime}_pid_%PID%_producteditor.log</name>
   </define>

   <define name="performanceLogFile" class="com.raytheon.uf.common.logback.LogFilePropertyDefiner" >
       <directory>${user.home}/${LOGDIR}</directory>
       <name>cave_${startTime}_pid_%PID%_perf.log</name>
   </define>

   <!--  TODO should somehow be contributed from alertview plugin -->
   <!-- this appender will send messages to alertview -->
   <appender name="AlertViewAppender" class="com.raytheon.uf.viz.alertview.logback.AlertViewAppender" />   

   <!-- this appender will log the messages to a file -->
   <appender name="CaveLogAppender" class="ch.qos.logback.core.FileAppender">
      <encoder class="com.raytheon.uf.common.logback.encoder.UFStdEncoder"/> 
      <file>${caveLogFile}</file>
   </appender>
   
   <!-- this appender will log any System.out and System.err printouts to a
         file while also allowing them through to System.out and System.err -->
   <appender name="consoleLog" class="com.raytheon.uf.common.logback.appender.ConsoleFileAppender">
      <encoder class="com.raytheon.uf.common.logback.encoder.UFStdEncoder"/> 
      <file>${consoleLogFile}</file> 
   </appender>

   <appender name="PerformanceLogAppender" class="ch.qos.logback.core.FileAppender">
      <file>${performanceLogFile}</file>
      <encoder class="com.raytheon.uf.common.logback.encoder.UFStdEncoder"/> 
   </appender>    
   
   <!-- TODO should somehow be contributed from viz.gfe plugin -->
   <appender name="ProductEditorLogAppender" class="ch.qos.logback.core.FileAppender">
      <file>${producteditorLogFile}</file>
      <encoder class="com.raytheon.uf.common.logback.encoder.UFStdEncoder"/> 
   </appender>    
   
   <appender name="AsyncCaveLogAppender" class="ch.qos.logback.classic.AsyncAppender">
      <queueSize>500</queueSize>
      <appender-ref ref="CaveLogAppender"/>      
   </appender>
   
   <appender name="AsyncAlertViewAppender" class="ch.qos.logback.classic.AsyncAppender">
      <queueSize>500</queueSize>      
      <appender-ref ref="AlertViewAppender"/>
   </appender> 
   
   <appender name="AsyncPerfLogAppender" class="ch.qos.logback.classic.AsyncAppender">
      <queueSize>500</queueSize>
      <appender-ref ref="PerformanceLogAppender"/>
   </appender> 

   <appender name="AsyncProductEditorLogAppender" class="ch.qos.logback.classic.AsyncAppender">
      <queueSize>500</queueSize>
      <appender-ref ref="ProductEditorLogAppender"/>
   </appender> 

   <logger name="CaveLogger" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="AsyncCaveLogAppender"/>
      <appender-ref ref="AsyncAlertViewAppender"/>
   </logger>

   <logger name="PerformanceLogger" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="AsyncPerfLogAppender"/>
   </logger>

   <logger name="ProductEditorLogger" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="AsyncProductEditorLogAppender"/>
   </logger>

   <logger name="com.raytheon">
      <level value="WARN"/>
   </logger>

   <logger name="mx4j">
      <level value="ERROR"/>
   </logger>
   <logger name="org.apache">
      <level value="WARN"/>
   </logger>
   <logger name="org.apache.commons.beanutils">
      <level value="WARN"/>
   </logger>
   <logger name="org.apache.qpid">
      <level value="WARN"/>
   </logger>
   <logger name="org.geotools">
      <level value="WARN"/>
   </logger>
   <logger name="org.apache.xbean.spring">
      <level value="WARN"/>
   </logger>
   <logger name="org.springframework">
      <level value="ERROR"/>
   </logger>
   <root> 
      <level value="WARN"/> 
      <appender-ref ref="consoleLog"/>
    </root> 
</configuration> 
