<configuration debug="false" scan="true" packagingData="false">

   <!-- Keep viz packagagingData set to false so logback does not attempt 
        to determine jars from classes in the stacktrace.  In some scenarios
        the determination of the packaging data can spend an inordinate
        amount of time in the OSGi classloader trying to find classes. -->

   <!-- Only define when not wanting to use the UF Standard.
   <property scope="context" name="log.message.pattern" value="%-5p %d [%t] %c{0}: %m%n"/>
   -->

   <!-- TODO this is just a copy of logback-viz-core.xml but with
         sending to alertview instead of alertviz. Ideally we ought
         to be able to reuse the commonality or conditionally
         select which appender to use. -->
         
   <property scope="system" name="alertview.enabled" value="true" />

   <timestamp key="startTime" datePattern="yyyyMMdd_HHmmss" />            

   <define name="caveLogFile" class="com.raytheon.uf.common.logback.LogFilePropertyDefiner" >
      <directory>${user.home}/Library/caveData/logs</directory>
      <name>cave_${startTime}_pid_%PID%.log</name>
   </define>

   <appender name="AlertViewAppender" class="com.raytheon.uf.viz.alertview.logback.AlertViewAppender" />   

   <appender name="CaveLogAppender" class="ch.qos.logback.core.FileAppender">
      <encoder class="com.raytheon.uf.common.logback.encoder.UFStdEncoder"/> 
      <file>${caveLogFile}</file>
   </appender>

   <!-- this appender will log any System.out and System.err printouts to a
         file while also allowing them through to System.out and System.err -->
   <appender name="consoleLog" class="com.raytheon.uf.common.logback.appender.ConsoleFileAppender">
      <encoder class="com.raytheon.uf.common.logback.encoder.UFStdEncoder"/> 
      <file>${caveLogFile}</file> 
   </appender>

   <appender name="AsyncCaveLogAppender" class="ch.qos.logback.classic.AsyncAppender">
      <queueSize>500</queueSize>
      <appender-ref ref="CaveLogAppender"/>      
   </appender>

   <appender name="AsyncAlertViewAppender" class="ch.qos.logback.classic.AsyncAppender">
      <queueSize>500</queueSize>      
      <appender-ref ref="AlertViewAppender"/>
   </appender> 

   <logger name="CaveLogger" level="all" additivity="false">
      <appender-ref ref="AsyncCaveLogAppender"/>
      <appender-ref ref="AsyncAlertViewAppender"/>
   </logger>

   <logger name="com.raytheon" level="info" />

   <logger name="mx4j" level="error" />
   <logger name="org.apache" level="info" />
   <logger name="org.apache.commons.beanutils" level="warn" />
   <logger name="org.apache.qpid" level="warn" />
   <logger name="org.apache.xbean.spring" level="warn" />
   <logger name="org.geotools" level="warn" />

   <!-- Silence viz spring startup info messages -->
   <logger name="org.springframework" level="error" />
   <logger name="com.raytheon.uf.viz.spring" level="warn" />

   <root level="info">
      <appender-ref ref="consoleLog"/>
   </root> 
</configuration> 
