<configuration debug="false" scan="true">
   <!-- Only define when not wanting to use the UF Standard.
   <property scope="context" name="log.message.pattern" value="%-5p %d [%t] %c{0}: %m%n"/>
   -->
   <timestamp key="startTime" datePattern="yyyyMMdd_HHmmss" />
   
   <define name="caveLogFile" class="com.raytheon.uf.common.logback.LogFilePropertyDefiner" >
      <directory>${LOGDIR}</directory>
      <name>cave_${startTime}_pid_%PID%_logs.log</name>
   </define>

   <define name="consoleLogFile" class="com.raytheon.uf.common.logback.LogFilePropertyDefiner" >
       <directory>${LOGDIR}</directory>
       <name>cave_${startTime}_pid_%PID%_console.log</name>
   </define>

   <define name="producteditorLogFile" class="com.raytheon.uf.common.logback.LogFilePropertyDefiner" >
       <directory>${LOGDIR}</directory>
       <name>cave_${startTime}_pid_%PID%_producteditor.log</name>
   </define>

   <define name="performanceLogFile" class="com.raytheon.uf.common.logback.LogFilePropertyDefiner" >
       <directory>${LOGDIR}</directory>
       <name>cave_${startTime}_pid_%PID%_perf.log</name>
   </define>

   <!-- TODO should somehow be contributed from alertviz plugin -->
   <appender name="AlertvizAppender" class="com.raytheon.uf.viz.alertviz.StatusMessageAppender">
      <connFactoryClass>org.apache.activemq.ActiveMQConnectionFactory</connFactoryClass>
      <uri>tcp://localhost:61998</uri>
      <destName>messages</destName>
   </appender>
   
   <!-- these two appenders will allow System.out and System.err to print to the console when
       -noredirect flag is used at cave startup-->

  <!-- this appender will log the messages sent to UFStatus and replaces console and errConsole appenders. -->
   <appender name="CaveLogAppender" class="ch.qos.logback.core.FileAppender">
      <encoder class="com.raytheon.uf.common.logback.encoder.UFStdEncoder"/> 
      <file>${caveLogFile}</file>
   </appender>
   
   <appender name="consoleLog" class="com.raytheon.uf.common.logback.appender.ConsoleFileAppender">
      <encoder class="com.raytheon.uf.common.logback.encoder.UFStdEncoder"/> 
      <file>${consoleLogFile}</file> 
   </appender>

   <appender name="PerformanceLogAppender" class="ch.qos.logback.core.FileAppender">
      <file>${performanceLogFile}</file>
      <encoder class="com.raytheon.uf.common.logback.encoder.UFStdEncoder"/> 
   </appender>    
   
   <!-- TODO should somehow be contributed from viz.gfe plugin -->
   <appender name="ProductEditorLogAppender" class="ch.qos.logback.core.FileAppender">
      <file>${producteditorLogFile}</file>
      <encoder class="com.raytheon.uf.common.logback.encoder.UFStdEncoder"/> 
   </appender>    
   
   <appender name="AsyncCaveLogAppender" class="ch.qos.logback.classic.AsyncAppender">
      <queueSize>500</queueSize>
      <appender-ref ref="CaveLogAppender"/>      
   </appender>
   
   <appender name="AsyncAlertvizAppender" class="ch.qos.logback.classic.AsyncAppender">
      <queueSize>500</queueSize>      
      <appender-ref ref="AlertvizAppender"/>
   </appender> 
   
   <appender name="AsyncPerfLogAppender" class="ch.qos.logback.classic.AsyncAppender">
      <queueSize>500</queueSize>
      <appender-ref ref="PerformanceLogAppender"/>
   </appender> 

   <appender name="AsyncProductEditorLogAppender" class="ch.qos.logback.classic.AsyncAppender">
      <queueSize>500</queueSize>
      <appender-ref ref="ProductEditorLogAppender"/>
   </appender> 

   <logger name="CaveLogger" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="AsyncCaveLogAppender"/>
      <appender-ref ref="AsyncAlertvizAppender"/>
   </logger>

   <logger name="PerformanceLogger" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="AsyncPerfLogAppender"/>
   </logger>

   <logger name="ProductEditorLogger" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="AsyncProductEditorLogAppender"/>
   </logger>

   <logger name="com.raytheon">
      <level value="INFO"/>
   </logger>

   <logger name="mx4j">
      <level value="ERROR"/>
   </logger>
   <logger name="org.apache">
      <level value="INFO"/>
   </logger>
   <logger name="org.apache.commons.beanutils">
      <level value="WARN"/>
   </logger>
   <logger name="org.apache.qpid">
      <level value="WARN"/>
   </logger>
   <logger name="org.geotools">
      <level value="WARN"/>
   </logger>
   <logger name="org.apache.xbean.spring">
      <level value="WARN"/>
   </logger>
   <logger name="org.springframework">
      <level value="ERROR"/>
   </logger>
   <root> 
      <level value="INFO"/> 
      <appender-ref ref="consoleLog"/>
    </root> 
</configuration> 
