<configuration debug="false" scan="false" packagingData="false">
   <!-- Only define when not wanting to use the UF Standard.
   <property scope="context" name="log.message.pattern" value="%-5p %d [%t] %c{0}: %m%n"/>
   -->

   <!-- 
       if you want to send messages to alertviz instead of alertview,
         1. change this property of alertview.enabled to false
         2. comment out the AlertViewAppender and uncomment the StatusMessageAppender
         
         TODO: Come up with easier way to switch between the two.  We could do it
         conditionally but that would require adding the Janino library which seems
         like overkill for a single use case for developers.  
           -->
   <property scope="system" name="alertview.enabled" value="true" />

   <!-- TODO should somehow be contributed from alertviz plugin -->
   <!-- appender name="AlertAppender" class="com.raytheon.uf.viz.alertviz.StatusMessageAppender">
      <connFactoryClass>org.apache.activemq.ActiveMQConnectionFactory</connFactoryClass>
      <destName>messages</destName>
   </appender-->
   
   <!--  TODO should somehow be contributed from alertview plugin -->
   <appender name="AlertAppender" class="com.raytheon.uf.viz.alertview.logback.AlertViewAppender" />

   <appender name="console" class="ch.qos.logback.core.ConsoleAppender"> 
      <encoder class="com.raytheon.uf.common.logback.encoder.UFStdEncoder"/> 
      <filter class="com.raytheon.uf.common.logback.filter.InvertedThresholdFilter">
         <level>INFO</level>
      </filter>
   </appender>

   <appender name="errConsole" class="ch.qos.logback.core.ConsoleAppender">
      <target>System.err</target>
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>WARN</level>
      </filter>
      <encoder class="com.raytheon.uf.common.logback.encoder.UFStdEncoder"/> 
   </appender>

   <!-- this is only used if alertviz is running inside the same process --> 
   <logger name="AlertVizAdminLogger" level="error" additivity="false">
      <appender-ref ref="errConsole"/>
   </logger>

   <logger name="CaveLogger" level="all">
      <appender-ref ref="AlertAppender"/>
   </logger>

   <logger name="PerformanceLogger" level="all" />

   <!-- TODO should somehow be contributed from viz.gfe plugin -->
   <logger name="ProductEditorLogger" level="all">
   </logger>

   <logger name="com.raytheon" level="info"/>
   
   <logger name="mx4j" level="error" />
   <logger name="org.apache" level="info" />
   <logger name="org.apache.commons.beanutils" level="warn" />
   <logger name="org.apache.qpid" level="warn" />
   <logger name="org.geotools" level="warn" />
   <logger name="org.apache.xbean.spring" level="warn" />

   <!-- Silence viz spring startup info messages -->
   <logger name="org.springframework" level="error" />
   <logger name="com.raytheon.uf.viz.spring" level="warn" />

   <root level="info"> 
      <appender-ref ref="console"/> 
      <appender-ref ref="errConsole"/>
   </root> 
</configuration> 
