<configuration debug="false" scan="false">
   <!-- Only define when not wanting to use the UF Standard.
   <property scope="context" name="log.message.pattern" value="%-5p %d [%t] %c{0}: %m%n"/>
   -->

   <appender name="console" class="ch.qos.logback.core.ConsoleAppender"> 
      <encoder class="com.raytheon.uf.common.logback.encoder.UFStdEncoder"/> 
      <filter class="com.raytheon.uf.common.logback.filter.InvertedThresholdFilter">
         <level>INFO</level>
      </filter>
   </appender>

   <appender name="errConsole" class="ch.qos.logback.core.ConsoleAppender">
      <target>System.err</target>
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>WARN</level>
      </filter>
      <encoder class="com.raytheon.uf.common.logback.encoder.UFStdEncoder"/> 
   </appender>
      
   <!-- TODO should somehow be contributed from alertviz plugin -->
   <appender name="AlertvizAppender" class="com.raytheon.uf.viz.alertviz.StatusMessageAppender">
      <connFactoryClass>org.apache.activemq.ActiveMQConnectionFactory</connFactoryClass>
      <uri>tcp://localhost:61998</uri>
      <destName>messages</destName>
   </appender>
   
   <logger name="CaveLogger">
      <level value="ALL"/>
      <appender-ref ref="AlertvizAppender"/>
   </logger>
   
   <logger name="PerformanceLogger">
      <level value="ALL"/>
   </logger>

   <!-- TODO should somehow be contributed from viz.gfe plugin -->
   <logger name="ProductEditorLogger">
      <level value="ALL"/>
   </logger>

   <logger name="com.raytheon">
      <level value="INFO"/>
   </logger>
   <logger name="mx4j">
      <level value="ERROR"/>
   </logger>
   <logger name="org.apache">
      <level value="INFO"/>
   </logger>
   <logger name="org.apache.commons.beanutils">
      <level value="WARN"/>
   </logger>
   <logger name="org.apache.qpid">
      <level value="WARN"/>
   </logger>
   <logger name="org.geotools">
      <level value="WARN"/>
   </logger>
   <logger name="org.apache.xbean.spring">
      <level value="WARN"/>
   </logger>
   <logger name="org.springframework">
      <level value="ERROR"/>
   </logger>
   <root> 
      <level value="INFO"/> 
      <appender-ref ref="console"/> 
      <appender-ref ref="errConsole"/>
    </root> 
</configuration> 
