<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	
   <extension
         point="org.eclipse.ui.services">
         <sourceProvider
               provider="com.raytheon.uf.viz.core.rsc.provider.ResourceSourceProvider">
            <variable
                  name="activePartVizResources"
                  priorityLevel="workbench">
            </variable>
            <variable
                  name="activeEditorVizResources"
                  priorityLevel="workbench">
            </variable>
            <variable
                  name="activePartVizCapabilities"
                  priorityLevel="workbench">
            </variable>
            <variable
                  name="activeEditorVizCapabilities"
                  priorityLevel="workbench">
            </variable>
         </sourceProvider>
   </extension>
   
   <extension point="org.eclipse.ui.commands">
       <command id="com.raytheon.uf.viz.core.rsc.key.numpadEnter" name="NUMPAD_ENTER command">
       </command>
   </extension>
   
   <extension point="org.eclipse.ui.bindings"
                 id="com.raytheon.uf.viz.core.rsc.bindings">
        <key commandId="com.raytheon.uf.viz.core.rsc.key.numpadEnter"
             contextId="com.raytheon.viz.ui.context" 
             schemeId="com.raytheon.viz.ui.cave.scheme"
             sequence="NUMPAD_ENTER">
        </key>
              
   
   </extension>
   
</plugin>
