@import url("platform:/plugin/com.raytheon.uf.viz.personalities.cave/css/viz.css");

* {
    background-color: black;
}

Label, Text, CLabel, ToolBar {
    color: white;
}

.MArea
{
    swt-selected-tabs-background: black black 100%;
}